<div class="breadcrumbs">
  <app-breadcrumbs
    [menuItem]="'Parameter Management'"
    [headerTitle]="'Parameter File Import'"></app-breadcrumbs>
</div>
<mat-card>
  <mat-card-header>
    <h1 class="page-title">Parameter File Import</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="entry-actions">
      <div class="import-wrapper">
        <button
          type="button"
          mat-flat-button
          (click)="openView()"
          class="import-button">
          <mat-icon>
            <img src="/assets/icons/import.png" alt="image"
          /></mat-icon>
          Import
        </button>
      </div>

      <app-filter [filterConfigs]="filterConfigs"></app-filter>
    </div>
    <!-- Selected Filter Component -->
    <app-selected-filter />

    <table mat-table class="stripped" [dataSource]="paginatedData" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element; let dataIndex = index">
          {{ dataIndex + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="depot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Depots</th>
        <td mat-cell *matCellDef="let element">
          {{ element.depot }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fileId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>File ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fileId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="parameterName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Parameter Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.parameterName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
        <td mat-cell *matCellDef="let element">
          {{ element.version }}
        </td>
      </ng-container>

      <ng-container matColumnDef="effectiveDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="text-align"> Effective Date & Time </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.effectiveDateTime | date: 'dd/MM/yyyy HH:mm' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Import Status</th>
        <td mat-cell *matCellDef="let element">
          <span
            [ngClass]="{
              'status-green': element.status === 'Imported',
              'status-red': element.status === 'Fail'
            }">
            {{ element.status }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="last_update">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</th>
        <td mat-cell *matCellDef="let element">
          {{ element.last_update | date: 'dd/mm/yyy HH:mm' }}
        </td>
      </ng-container>

      <tr
        style="
          background-color: #4a5964;
          font-weight: 600;
          color: white;
          height: 40px;
        "
        mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>

      @if (dataSource.length > 0) {
        <tr
          style="height: 40px"
          mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>
      }
    </table>

    <app-pagination></app-pagination>
  </mat-card-content>
</mat-card>
