.mat-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 15px;

  div:nth-child(1) {
    padding-top: 7px !important;
    margin: 5px;
  }

  .btn {
    float: right;
    width: 20%;
    color: white;
    height: 40px;
    background-color: #009e73;
  }
}

.labelCol {
  margin: 10px 0;
  vertical-align: top;
  border: 0;
  align-items: start;
}

.headerCol,
.labelCol {
  padding: 0 10px;

  &:first-of-type {
    padding-left: 16px;
  }
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: start;

  p {
    margin-bottom: 0;
  }
}

.icon-delete {
  width: 18px;
  height: 18px;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 40px !important;

  .icon {
    width: 22px;
    height: 22px;
  }

  .text-btn {
    font-size: 15px;
    font-weight: 600;
    color: #0046ad;
  }
}

// Base Divider class
.divider {
  display: flex;

  &:before,
  &:after {
    content: '';
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 0 6px;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.razor {
  &:before,
  &:after {
    box-shadow: 0 0.5px 0 black;
  }
}

.mat-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 10px;
  width: 100%;

  .btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .btn {
      width: 140px;
      font-weight: bold;
    }
  }
}

.local-primary {
  background-color: #0046ad;
  color: white;
  border: none !important;
}

// This custom cannot be used because it will affect the Filter outside the table
// ::ng-deep .mat-mdc-form-field-infix {
//   width: 100% !important;
// }

.material-icons.md-18 {
  line-height: 4rem !important;
  width: 4rem !important;
  height: 4rem !important;
}

:host ::ng-deep {
  table {
    width: 100%;
    margin: auto;
  }

  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10%;
  }

  .mat-column-day_type {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20%;
  }

  .mat-column-est_arrival_count {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15%;
  }
}

// .mat-mdc-form-field.custom-input {
//   border: 1px solid #ccc !important;
//   border-radius: 4px !important;
// }

.time-picker {
  position: relative;
  z-index: 2;

  input {
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 22px;
    height: 22px;
  }
}

.status {
  padding: 4px 10px;
  border-radius: 16px;
  color: black;

  &.trial {
    background-color: #648fff;
  }

  &.non_trial {
    background-color: #ffb000;
  }
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.custom-checkbox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
