<div class="dashboard-container">
  <div class="row">
    <h1 class="col col-8">Welcome to MDCS</h1>
  </div>

  <div class="dashboard-main">
    <div class="dashboard-content">
      <mat-card class="first-card">
        <mat-card-header>
          <mat-card-title>MDCS Status</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row depot-block">
            @for (depot of depotStatues; let index = $index; track index) {
              <div class="col-6">
                <div class="depot-status">
                  <div class="depot-name">
                    {{ depot.depot_name }}
                  </div>
                  <div class="depot-status">
                    <span class="status" [ngClass]="depot.status">
                      {{
                        depot.status === 'up'
                          ? 'Up and Running'
                          : depot.status === 'down'
                            ? 'Down'
                            : depot.status === 'degraded'
                              ? 'Degraded'
                              : ''
                      }}
                    </span>
                  </div>
                </div>
              </div>
            }
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="second-card task-list-card">
        <mat-card-header>
          <mat-card-title>Tasks List</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          @for (task of taskList; let index = $index; track index) {
            <a class="second-content">
              <!-- <img src="/assets/icons/dashboard-task.svg" alt="" /> -->
              <div class="second-num">{{ task.order }}</div>
              <div class="flex-1 second-text">
                <h2>{{ task.desc }}</h2>
              </div>
              <mat-icon>chevron_right</mat-icon>
            </a>
          }
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>No. of Bus Connected to Depot</mat-card-title>
        <div class="extra-header">Last update: 29/05/2025 11:00:00</div>
      </mat-card-header>

      <mat-card-content>
        <div class="content-header">
          <div class="depot-filter">
            <div><strong>Depot</strong></div>
            <mat-form-field style="width: 500px">
              <mat-select
                [(ngModel)]="depotSelected"
                placeholder="Select Bus Depot"
                (selectionChange)="handleSelectDepot($event)">
                <mat-option [value]=""> All </mat-option>
                <mat-option
                  *ngFor="let depot of depots"
                  [value]="depot.depot_id">
                  {{ depot.depot_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="button-filter">
            @for (hour of [1, 2, 3]; let index = $index; track index) {
              <button
                type="button"
                class="btn-hour"
                [ngClass]="{ selected: hourSelected === hour }"
                (click)="setHour(hour)">
                {{ hour }} hour{{ hour > 1 ? 's' : '' }}
              </button>
            }
          </div>
        </div>
        <div class="chart-wrapper">
          <div
            class="chart-container"
            [ngClass]="'hour-selected-' + hourSelected">
            @for (bus of busesRendered; let index = $index; track index) {
              <app-line-chart
                [data]="transformChartData(bus)"
                [config]="chartConfig(bus)">
              </app-line-chart>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
