<div class="breadcrumbs">
  <app-breadcrumbs
    [showHome]="false"
    [menuItem]="'Parameter Trial & Management'"
    [headerTitle]="'Trial Device List'"></app-breadcrumbs>
</div>
<mat-card>
  <mat-card-header>
    <h1 class="page-title">Trial Device List</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="entry-actions">
      <app-filter
        [filterConfigs]="filterConfigs"
        [placeholder]="'Search by keyword'"></app-filter>

      <!-- <div class="button-filter">
        <div class="item">
          <button
            type="button"
            [disabled]="selection.length === 0"
            (click)="updateView()"
            mat-flat-button
            class="btn toggle">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
        </div>
      </div> -->
    </div>
    <!-- Selected Filter Component -->
    <app-selected-filter />

    <div class="table-wrapper">
      <table
        mat-table
        class="stripped"
        [dataSource]="dataSource"
        matSort
        (matSortChange)="sortHandler($event)">
        <!-- Check Column -->
        <ng-container matColumnDef="chk">
          <th mat-header-cell *matHeaderCellDef>
            <div class="custom-checkbox" (click)="onCheckAllToggle()">
              @if (chkAll) {
                <img
                  src="/assets/icons/selected_checkbox.svg"
                  alt="Selected Checkbox" />
              } @else {
                <img
                  src="/assets/icons/white_checkbox.svg"
                  alt="Unselected Checkbox" />
              }
            </div>
          </th>
          <td [class.selected]="element.chk" mat-cell *matCellDef="let element">
            <div
              class="custom-checkbox"
              [class.selected]="element.chk"
              (click)="checkboxToggle(element)">
              @if (element.chk) {
                <img
                  src="/assets/icons/selected_checkbox.svg"
                  alt="Selected Checkbox" />
              } @else {
                <img
                  src="/assets/icons/white_checkbox.svg"
                  alt="Unselected Checkbox" />
              }
            </div>
          </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
          <td
            [class.selected]="element.chk"
            mat-cell
            *matCellDef="let element; let dataIndex = index">
            {{ dataIndex + 1 }}
          </td>
        </ng-container>

        <!-- Depots Column -->
        <ng-container matColumnDef="depot">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Depots</th>
          <td [class.selected]="element.chk" mat-cell *matCellDef="let element">
            {{ element.depot.depot_name }}
          </td>
        </ng-container>

        <!-- Bus ID Column -->
        <ng-container matColumnDef="bus_num">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Bus ID <span class="custom-sort"> </span>
          </th>
          <td [class.selected]="element.chk" mat-cell *matCellDef="let element">
            {{ element.bus_num }}
          </td>
        </ng-container>

        <!-- Application Trial Group -->
        <ng-container matColumnDef="trial_group">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Application Trial Group <span class="custom-sort"> </span>
          </th>
          <td [class.selected]="element.chk" mat-cell *matCellDef="let element">
            @if (element.trial_group) {
              <img src="/assets/icons/disabled_checkbox.svg" alt="" />
            } @else {
              <img src="/assets/icons/grayed_checkbox.svg" alt="" />
            }
          </td>
        </ng-container>

        <!-- Bus Service Group -->
        <ng-container matColumnDef="service_group">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Bus Service Group <span class="custom-sort"> </span>
          </th>
          <td [class.selected]="element.chk" mat-cell *matCellDef="let element">
            @if (element.service_group) {
              <img src="/assets/icons/disabled_checkbox.svg" alt="" />
            } @else {
              <img src="/assets/icons/grayed_checkbox.svg" alt="" />
            }
          </td>
        </ng-container>

        <!-- Fare Parameter Group -->
        <ng-container matColumnDef="parameter_group">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fare Parameter Group <span class="custom-sort"> </span>
          </th>
          <td [class.selected]="element.chk" mat-cell *matCellDef="let element">
            @if (element.parameter_group) {
              <img src="/assets/icons/disabled_checkbox.svg" alt="" />
            } @else {
              <img src="/assets/icons/grayed_checkbox.svg" alt="" />
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="last_update">
          <th
            [hidden]="!hiddenHandler('last_update')"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            Last Update <span class="custom-sort"> </span>
          </th>
          <td
            [class.selected]="element.chk"
            [hidden]="!hiddenHandler('last_update')"
            mat-cell
            *matCellDef="let element">
            {{ element.last_update | date: 'dd/mm/yyy HH:mm' }}
          </td>
        </ng-container>

        <tr
          style="background-color: #4a5964; font-weight: 600; color: white"
          mat-header-row
          *matHeaderRowDef="tab1Columns; sticky: true"></tr>
        <tr
          class="data-row"
          mat-row
          *matRowDef="let row; columns: tab1Columns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data" [attr.colspan]="tab1Columns.length">
            No Records Found
          </td>
        </tr>
      </table>
    </div>

    <div class="table-footer">
      <app-pagination
        [totalItems]="rowCount"
        [currentPageInput]="currentPage"
        (pageChange)="onPageChange($event)"></app-pagination>
      <!-- <div class="selected-item">Selected: {{ selection.length }}</div> -->
    </div>
  </mat-card-content>
</mat-card>
