.chip-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 8px 10px 20px;
}

.filter-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: unset !important;
  border-radius: 50px;
  padding: 8px;
  height: 32px;
  font-size: 14px;
  border: 1px solid #4a5964;
  color: black;

  .name,
  .value {
    font-size: 14px;
    line-height: 16px;
  }

  .name {
    margin-right: 8px;
    font-weight: 400;
    color: #828282;
  }
  .value {
    font-weight: 700;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  mat-icon {
    cursor: pointer;
  }
}

.mat-mdc-standard-chip {
  --mat-chip-selected-focus-state-layer-color: : #fff;
  --mat-chip-selected-hover-state-layer-color: #fff;
  --mat-chip-hover-state-layer-color: #fff;
  --mat-chip-focus-state-layer-color: #fff;
  --mat-chip-trailing-action-opacity: none;
}

::ng-deep .mat-mdc-chip-action {
  padding-left: unset !important;
}
