@mixin header-text {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

@mixin table-data-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.card-key-table {
  margin: 20px 24px;

  table {
    width: 100%;
    height: 32px;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #828282;
    }
    th {
      padding: 8px 42px 8px 10px;
      text-align: left;
    }
    td {
      padding: 8px 34px;
    }
  }
}

.legend {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
  gap: 30px;

  .box {
    width: 24px;
    height: 13px;
    margin-right: 10px;
    border: 1px solid #000;

    &-yellow {
      background-color: #fff0cf;
    }

    &-orange {
      background-color: #ffe1e1;
    }
  }
}

.inconsistent {
  background-color: #fff0cf;
}

.failed {
  background-color: #ffe1e1;
}

.filter-wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;

  mat-form-field {
    width: 420px;
  }
}

table {
  width: 100%;
  border-bottom: 1px solid #dedede;
}

.search-text {
  max-width: 420px;
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
}

.data-row {
  @include table-data-text();
  color: #000000;
  height: 32px !important;

  > td:not(:last-child) {
    border-right: 1px solid #dedede;
  }
}

.data-row:not(:last-child) > td {
  border-bottom: unset;
}

.data-row:last-child > td {
  border-bottom: 1px solid #dedede;
}

.header-row {
  background-color: #4a5964;
  font-weight: 600;
  height: 32px !important;
  color: #ffffff;

  > th:not(:last-child) {
    border-right: 1px solid #dedede;
  }
}

.subheader-row {
  background-color: #f3f7ff;
  font-weight: 600;
  height: 32px !important;
  color: #4a5964;

  > th:not(:last-child) {
    border-right: 1px solid #dedede;
  }
}

.subheader-row > th {
  border-bottom: unset;
}

.main-header { 
  text-align: center;
  vertical-align: middle;
}