<div class="breadcrumbs">
  <app-breadcrumbs
    [menuItem]="'Monitoring'"
    [headerTitle]="'View Card Key Versions'"></app-breadcrumbs>
</div>

<mat-card>
  <mat-card-header>
    <h1 class="page-title">View Card Key Versions</h1>
  </mat-card-header>
  <mat-divider> </mat-divider>
  <mat-card-content>
    <div class="filter-wrapper">
      <mat-form-field>
        <mat-select [(ngModel)]="depotSelected" placeholder="Select Depot">
          <mat-option *ngFor="let depot of depots" [value]="depot.depot_id">
            {{ depot.depot_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="depotSelected">
        <mat-form-field>
          <input matInput placeholder="Search by keyword" type="search" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <mat-checkbox
          [(ngModel)]="chkInconsistent"
          style="margin-left: 20px"
          color="primary">
          Inconsistent Card Key Versions
        </mat-checkbox>
      </ng-container>
    </div>

    <mat-divider></mat-divider>

    <div
      class="table-wrapper"
      [style.border-bottom-width]="depotSelected ? '1px' : 0">
      @if (depotSelected) {
        <div class="card-key-table">
          <table>
            <tr>
              <th>DAGW Card Key Versions</th>
              <td>55</td>
              <td>56</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </table>
        </div>

        <div class="legend">
          <div class="flex-center-center">
            <div class="box box-yellow"></div>
            <span>Inconsistent</span>
          </div>
          <div class="flex-center-center">
            <div class="box box-orange"></div>
            <span>Authentication Failure</span>
          </div>
        </div>

        <table mat-table matSort [dataSource]="exampleData" class="stripped">
          @for (header of headers; track header) {
            @if (header.subHeaders.length) {
              <ng-container [matColumnDef]="header.id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [attr.colspan]="header.subHeaders.length"
                  class="main-header">
                  {{ header.name }}
                </th>
              </ng-container>
            } @else if (header.id !== 'no') {
              <ng-container [matColumnDef]="header.id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  [attr.colspan]="1"
                  class="main-header">
                  {{ header.name }}
                  <span class="custom-sort"> </span>
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element[header.id] || '-' }}
                </td>
              </ng-container>
            } @else {
              <ng-container [matColumnDef]="header.id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [attr.colspan]="1"
                  class="main-header">
                  {{ header.name }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element[header.id] || '-' }}
                </td>
              </ng-container>
            }
          }

          @for (header of headers; track header) {
            @if (header.subHeaders.length) {
              @for (subHeader of header.subHeaders; track subHeader) {
                <ng-container [matColumnDef]="header.id + '_' + subHeader.id">
                  <th mat-header-cell *matHeaderCellDef class="sub-header">
                    {{ subHeader.name }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [ngClass]="[element[header.id]?.status || '']">
                    {{ element[header.id]?.[subHeader.id] || '-' }}
                  </td>
                </ng-container>
              }
            } @else {
              @if (header.id === 'no') {
                <ng-container [matColumnDef]="header.id + '_placeholder'">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element; let dataIndex = index">
                    {{ dataIndex + 1 }}
                  </td>
                </ng-container>
              } @else {
                <ng-container [matColumnDef]="header.id + '_placeholder'">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [ngClass]="[element[header.id]?.status || '']">
                    {{ element[header.id]?.value || element[header.id] || '-' }}
                  </td>
                </ng-container>
              }
            }
          }

          <tr
            mat-header-row
            *matHeaderRowDef="mainHeaderIds"
            class="header-row"></tr>
          <tr
            class="subheader-row"
            mat-header-row
            *matHeaderRowDef="subHeaderIds"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: subHeaderIds"
            class="data-row"></tr>
        </table>
      }
    </div>
    <div *ngIf="depotSelected" class="flex-center-center">
      <app-pagination></app-pagination>
    </div>
  </mat-card-content>
</mat-card>
