.mat-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 15px;

  div:nth-child(1) {
    padding-top: 7px !important;
    margin: 5px;
  }

  .btn {
    float: right;
    width: 20%;
    color: white;
    height: 40px;
    background-color: #009e73;
  }
}

.icon-delete {
  width: 18px;
  height: 18px;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 16px !important;
  color: #0072b2;

  .icon {
    width: 22px;
    height: 22px;
  }

  .text-btn {
    font-size: 15px;
    font-weight: 600;
  }
}

// Base Divider class
.divider {
  display: flex;

  &:before,
  &:after {
    content: '';
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 0 6px;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.razor {
  &:before,
  &:after {
    box-shadow: 0 0.5px 0 black;
  }
}

.mat-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 10px;
  width: 100%;

  .btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .btn {
      width: 140px;
      font-weight: bold;
    }
  }
}

.local-primary {
  background-color: #0046ad;
  color: white;
  border: none !important;
}

.material-icons.md-18 {
  line-height: 4rem !important;
  width: 4rem !important;
  height: 4rem !important;
}

:host ::ng-deep {
  table {
    width: 100%;
    margin: auto;
  }

  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10%;
  }

  .mat-column-est_arrival_count {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15%;
  }
}

.time-picker {
  position: relative;
  z-index: 2;

  input {
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 22px;
    height: 22px;
  }
}

.import-wrapper {
  position: relative;

  &:hover {
    .import-button {
      opacity: 0.8;
    }
  }

  .import-button {
    height: 40px;
    background-color: #0072b2;
    color: white !important;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

mat-form-field {
  width: 340px;
}

.mat-column-depot_id {
  flex: 0 0 30%;
}

.browse {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 480px;
  }
}

.delete {
  margin-left: auto;
}

.mdc-dialog__content {
  overflow: hidden !important;
}

::ng-deep .mat-mdc-select-arrow,
.mat-datepicker-toggle {
  display: none;
}
