.description {
    background-color: #009e73 !important;
}
.button-filter {
    margin-left: auto;
}
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 50% !important;
}
.hide {
    display: none;
}