<div class="breadcrumbs">
  <app-breadcrumbs
    [showHome]="false"
    [menuItem]="'Maintenance'"
    headerTitle="Diagnostics"></app-breadcrumbs>
</div>
<mat-card>
  <mat-card-header>
    <h1 class="page-title">Diagnostics</h1>
  </mat-card-header>
  <mat-divider> </mat-divider>
  <mat-card-content>
    <div class="content-container">
      <form [formGroup]="depotForm">
        <div
          class="entry-actions"
          style="margin-bottom: 20px; display: flex; align-items: center">
          <div style="display: flex; flex-direction: column">
            <label style="font-weight: 700">Depot Name</label>
            <mat-form-field style="width: 320px">
              <mat-select formControlName="depot" placeholder="Select Depot">
                @for (depot of depots; track $index) {
                  <mat-option [value]="depot.depot_id">
                    {{ depot.depot_name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>

      @if (!depot_id) {
        <div class="empty-depot-display">
          <img src="/assets/icons/camera.svg" alt="empty files" />
          <p>Select a depot to show results.</p>
          <p>No data to display.</p>
        </div>
      } @else {
        <div class="status-items">
          @for (data of categoryItems; track $index) {
            <div class="status-item">
              <mat-card class="card-status" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>{{ data.category }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div
                    class="card-item"
                    [ngStyle]="{
                      'border-color':
                        data.item.status === 'success' ? '#009e73' : '#9F0F0F'
                    }">
                    <div
                      [ngClass]="
                        data.item.status === 'success'
                          ? 'status-check'
                          : 'status-cross'
                      "></div>
                    <div class="status">
                      <span
                        class="label"
                        [ngStyle]="{
                          color:
                            data.item.status === 'success'
                              ? '#009e73'
                              : '#9F0F0F'
                        }">
                        {{ data.item.name }}</span
                      >

                      <div class="last-update">
                        <span>Last Update</span>
                        <span>{{ data.item.lastUpdate }}</span>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          }
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
