
$font-inter: 'Inter';
$path-fonts: '../assets/fonts/';

//========--------Font Inter

//Inter Thin
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

//Inter Extra Light
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

//Inter Light
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

//Inter Regular
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

//Inter Medium
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

//Inter Semi Bold
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

//Inter Bold
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

//Inter Extra Bold
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

//Inter Black
@font-face {
    font-family: $font-inter;
    src: url($path-fonts + 'Inter/Inter-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src:url($path-fonts + 'MaterialIcons-Regular.woff2') format('woff2'),
    url($path-fonts + 'MaterialIcons-Regular.woff') format('woff'),
    url($path-fonts + 'MaterialIcons-Regular.ttf') format('truetype');
  }
  