@use '@angular/material' as mat;

@use 'variables';
@use 'fonts';

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Inter', 'Helvetica Neue', sans-serif;
}

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$download-palette: (
  50: #e0f3ee,
  100: #b3e2d5,
  200: #80cfb9,
  300: #4dbb9d,
  400: #26ad88,
  500: #009e73,
  600: #00966b,
  700: #008c60,
  800: #008256,
  900: #007043,
  A100: #9fffd1,
  A200: #6cffb9,
  A400: #39ffa1,
  A700: #1fff95,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$warm-palette: (
  50: #f3e2e2,
  100: #e2b7b7,
  200: #cf8787,
  300: #bc5757,
  400: #ad3333,
  500: #9f0f0f,
  600: #970d0d,
  700: #8d0b0b,
  800: #830808,
  900: #720404,
  A100: #ffa1a1,
  A200: #ff6e6e,
  A400: #ff3b3b,
  A700: #ff2121,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$theme-warm: mat.m2-define-palette($warm-palette);
$theme-accent: mat.m2-define-palette($download-palette);
$my-typography: mat.m2-define-typography-config(
  $font-family: 'Inter',
  $body-2: mat.m2-define-typography-level(16px, 20px, 400),
  $subtitle-2: mat.m2-define-typography-level(16px, 20px, 400),
);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $theme-primary,
      warm: $theme-warm,
      accent: $theme-accent,
    ),
    typography: $my-typography,
  )
);
@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
