.navigation-container {
  display: flex;
  align-items: center;
  background-color: #dedede;
  width: 100%;
  height: 48px;
  padding: 14px 22px 14px 24px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 27.57px;
  margin-right: 78px;
  cursor: pointer;
}

.page-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 51px;
  border: 1px solid #828282;
  border-radius: 4px;
  background-color: #ffffff;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;

  .empty-depot-display {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 24px;

    p:nth-child(2) {
      font-size: 24px;
      color: #000;
    }
    p:nth-child(3) {
      font-size: 16px;
      color: #828282;
    }
  }
}

.custom-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
}

.custom-input {
  display: flex;
  align-items: center;
  border: 1px solid #828282;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px 12px;
  width: 100%;
  max-width: 330px;
  height: 32px;

  .input-icon {
    margin-right: 8px;
    font-size: 16px;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 16px;

    &::placeholder {
      color: #cdcdcd;
    }
  }
}

.action-buttons {
  display: flex;
  margin-left: auto;
  gap: 24px;

  span {
    display: flex;
    gap: 2px;
    cursor: pointer;
  }
}

// ::ng-deep .mat-mdc-select-arrow,
// .mat-datepicker-toggle {
//   display: none;
// }
