@if (hasSearch) {
  <mat-form-field class="search-text" appearance="outline">
    <input
      matInput
      placeholder="Search by keyword"
      [formControl]="searchControl"
      type="search" />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
}

<!-- <table mat-table class="stripped" [dataSource]="dataSource">
  <ng-content></ng-content>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell no-data" [attr.colspan]="columns.length">
      No Records Found
    </td>
  </tr>
</table> -->

<table mat-table class="stripped" [dataSource]="dataSource">
  @for (column of columns; track column) {
    @if (column.columnDef === 'id') {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let dataIndex = index">
          {{ dataIndex + 1 }}
        </td>
      </ng-container>
    } @else {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </th>

        @if (column.subHeader) {
          @for (subHeader of column.subHeader; track subHeader) {
            <ng-container>
              <th mat-header-cell *matHeaderCellDef>
                {{ subHeader }}
              </th>
            </ng-container>
          }
        }

        <td mat-cell *matCellDef="let element">
          {{ element[column.columnDef] }}
        </td>
      </ng-container>
    }
  }

  <tr class="header-row" mat-header-row *matHeaderRowDef="columnDefs"></tr>
  <tr class="data-row" mat-row *matRowDef="let row; columns: columnDefs"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell no-data" [attr.colspan]="columns.length">
      No Records Found
    </td>
  </tr>
</table>
