<div class="breadcrumbs">
  <app-breadcrumbs
    [menuItem]="'Parameter Management'"
    [headerTitle]="'Parameter File Import'"></app-breadcrumbs>
</div>
<mat-card>
  <mat-card-header>
    <h1 class="page-title">Parameter File Import</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="entry-actions extra-format">
      <div style="display: flex; flex-direction: column">
        <label style="font-weight: 700">Depot Name</label>
        <mat-form-field style="width: 420px">
          <mat-select
            placeholder="Select Depot"
            (selectionChange)="handleSelectDepot($event)">
            @for (depot of depots; track $index) {
              <mat-option [value]="depot.depot_id">
                {{ depot.depot_name }}
              </mat-option>
            }
          </mat-select>
          <!-- <mat-icon style="padding: unset !important" matSuffix
            >keyboard_arrow_down</mat-icon
          > -->
        </mat-form-field>
      </div>

      <div class="import-wrapper">
        <button
          type="button"
          mat-flat-button
          (click)="openView()"
          class="import-button"
          disabled="{{ !depotSelected }}">
          <mat-icon>
            <img src="/assets/icons/import.svg" alt="image"
          /></mat-icon>
          Import
        </button>

        @if (!!depotSelected) {
          <input
            #fileInput
            type="file"
            multiple
            id="fileUpload"
            class="input-file"
            accept=".zip,.rar,.7zip"
            (change)="importHandler($event)" />
        }
      </div>

      <!-- <app-filter [filterConfigs]="filterConfigs"></app-filter> -->
    </div>
    <!-- Selected Filter Component -->
    <!-- <app-selected-filter /> -->

    <div class="table-wrapper">
      <table mat-table class="stripped" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
          <td mat-cell *matCellDef="let element; let dataIndex = index">
            {{ dataIndex + 1 }}
          </td>
        </ng-container>
        <!-- 
        <ng-container matColumnDef="depot">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Depots</th>
          <td mat-cell *matCellDef="let element">
            {{ element.depot }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="fileId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Parameter File ID <span class="custom-sort"> </span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fileId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="parameterName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Parameter File Name <span class="custom-sort"> </span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.parameterName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Parameter File Version <span class="custom-sort"> </span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.version }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="effectiveDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="text-align">
              Effective Date Time <span class="custom-sort"> </span>
            </span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.effectiveDateTime | date: 'dd/MM/yyyy HH:mm' }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Import Status <span class="custom-sort"> </span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              [ngClass]="{
                'status-green': element.status === 'Success',
                'status-red': element.status === 'Failed'
              }">
              {{ element.status }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Description <span class="custom-sort"> </span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.description }}
          </td>
        </ng-container>

        <tr
          style="background-color: #4a5964; font-weight: 600; color: white"
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr
          style="height: 40px"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="data-row"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
            No Records Found
          </td>
        </tr>
      </table>
    </div>
    <app-pagination></app-pagination>
  </mat-card-content>
</mat-card>
