<div class="breadcrumbs">
  <app-breadcrumbs
    [menuItem]="'Parameter Trial'"
    [headerTitle]="'New Parameter Approval'"></app-breadcrumbs>
</div>
<mat-card>
  <mat-card-header>
    <h1 class="page-title">New Parameter Approval</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group
      (selectedTabChange)="onTabChange()"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      [(selectedIndex)]="tabIdx">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="label">Action Required</div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="label">Managed Records</div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div class="entry-actions">
      <app-filter
        [filterConfigs]="filterConfigs"
        [placeholder]="'Depots, Parameter Name, Versions'"></app-filter>

      @if (tabIdx === 0) {
        <div class="button-filter">
          <div class="item">
            <button
              type="button"
              [disabled]="selection.length === 0"
              (click)="updateView('approve')"
              mat-flat-button
              id="btnedit"
              class="btn approve">
              <mat-icon>checked</mat-icon>
              Approve
            </button>
          </div>
          <div class="item">
            <button
              type="button"
              [disabled]="selection.length === 0"
              (click)="updateView('reject')"
              class="search-button"
              mat-flat-button
              id="btnedit"
              class="btn reject">
              <mat-icon>close</mat-icon>
              Reject
            </button>
          </div>
        </div>
      }
    </div>
    <!-- Selected Filter Component -->
    <app-selected-filter />

    <div class="table-wrapper">
      <table
        mat-table
        class="stripped"
        [dataSource]="dataSource"
        matSort
        (matSortChange)="sortHandler($event)">
        <!-- Check Column -->
        <ng-container matColumnDef="chk">
          <th mat-header-cell *matHeaderCellDef [hidden]="tabIdx !== 0">
            <mat-checkbox
              onkeypress=""
              [(ngModel)]="chkAll"
              (change)="checkAllHandler($event)"
              color="primary"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element" [hidden]="tabIdx !== 0">
            <mat-checkbox
              onkeypress=""
              [(ngModel)]="element.chk"
              (change)="checkHandler($event, element)"
              color="primary"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
          <td mat-cell *matCellDef="let element; let dataIndex = index">
            {{ dataIndex + 1 }}
          </td>
        </ng-container>

        <!-- Depots Column -->
        <ng-container matColumnDef="depot_id">
          <th
            [hidden]="!hiddenHandler('depot_id')"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            Depot
          </th>
          <td
            [hidden]="!hiddenHandler('depot_id')"
            mat-cell
            *matCellDef="let element">
            {{ element.depot_name }}
          </td>
        </ng-container>

        <!-- Parameter Name Column -->
        <ng-container matColumnDef="parameter_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Parameter Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.parameter_name }}
          </td>
        </ng-container>

        <!--  Parameter Version Column -->
        <ng-container matColumnDef="parameter_version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Parameter Version
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.parameter_version }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [hidden]="tabIdx === 0">
            Status
          </th>
          <td mat-cell *matCellDef="let element" [hidden]="tabIdx === 0">
            <span class="status" [ngClass]="element.status">{{
              element.status | titlecase
            }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="last_update">
          <th
            [hidden]="tabIdx === 0"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            Last Update
          </th>
          <td [hidden]="tabIdx === 0" mat-cell *matCellDef="let element">
            {{ element.last_update | date: 'dd/mm/yyy HH:mm' }}
          </td>
        </ng-container>

        <tr
          style="background-color: #4a5964; font-weight: 600; color: white"
          mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
            No Records Found
          </td>
        </tr>
      </table>
    </div>

    <div class="table-footer">
      <app-pagination
        [totalItems]="rowCount"
        (pageChange)="onPageChange($event)"></app-pagination>
      <div class="selected-item">Selected: {{ selection.length }}</div>
    </div>
  </mat-card-content>
</mat-card>
