.extra-format {
  gap: 24px;
  align-items: flex-end;
}

.label {
  font-size: 16px;
  font-weight: bolder;
}

.approve {
  background-color: #009e73 !important;
}

.edit {
  background-color: #332288 !important;
}

.export {
  background-color: #009e73 !important;
}

.reject {
  background-color: #9f0f0f !important;
}

.status {
  padding: 4px 10px;
  border-radius: 16px;
  color: white;

  &.Approved,
  &.approved {
    background-color: #009e73;
  }

  &.Rejected,
  &.rejected {
    background-color: #9f0f0f;
  }

  &.Pending,
  &.pending {
    background-color: #0046ad;
  }
}

.status-exported {
  background-color: #22ab84;
  color: white;
  border-radius: 100px;
  padding: 5px 10px;
  display: inline-block;
}

.status-failed {
  background-color: #c0342b;
  color: white;
  border-radius: 100px;
  padding: 5px 10px;
  display: inline-block;
}

.btn-download {
  // background-color: #009e73;
  background-color: #0046ad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.btn-download:disabled {
  opacity: 0.5;
  background-color: #828282;
  cursor: not-allowed;
}

.download-icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
