.label {
  font-size: 16px;
  font-weight: bolder;
}

.status {
  font-weight: 600;
  &.success,
  &.in_progress {
    color: #828282;
  }

  &.failed {
    color: #9f0f0f;
  }

  .mat-icon {
    font-size: 30px !important;
    height: auto !important;
    width: auto !important;
  }
}

.data-row {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  height: 56px !important;

  // > td:not(:last-child) {
  //   border-right: 1px solid #dedede;
  // }
}

.data-row:not(:last-child) > td {
  border-bottom: unset;
}

.data-row:last-child > td {
  border-bottom: 1px solid #dedede;
}

.header-row {
  background-color: #4a5964;
  font-weight: 600;
  height: 72px !important;
  color: #ffffff;

  // > th:not(:last-child) {
  //   border-right: 1px solid #dedede;
  // }
}
