.label {
  font-size: 16px;
  font-weight: bolder;
}

.status {
  font-weight: 600;
  &.Success {
    color: #009e73;
  }

  &.Failed {
    color: #9f0f0f;
  }

  .mat-icon {
    font-size: 30px !important;
    height: auto !important;
    width: auto !important;
  }
}
