.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  gap: 48px;
}

.pagination-info {
  font-size: 14px;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination-controls button {
  padding: 5px 10px;
  margin: 0 5px;
}

.pagination-controls input {
  width: 40px;
  text-align: center;
}

.page-size-selector select {
  padding: 5px;
}

.prev-arrow {
  width: 32px;
  height: 32px;
  background-color: #d9d9d9;
  border: 1px solid #dedede;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  background-image: url('../../../assets/icons/prev-arrow.svg');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.prev-arrow:hover {
  background-color: #d0d0d0;
}

.prev-arrow:active {
  background-color: #c0c0c0;
}

.next-arrow {
  width: 32px;
  height: 32px;
  background-color: #d9d9d9;
  border: 1px solid #dedede;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  background-image: url('../../../assets/icons/next-arrow.svg');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.next-arrow:hover {
  background-color: #d0d0d0;
}

.next-arrow:active {
  background-color: #c0c0c0;
}

.page-number-box {
  width: 32px;
  height: 32px;
  border: 1px solid #0046ad;
  background-color: #0046ad19;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #0046ad;
  margin: 0 8px;
}

.page-size-selector {
  position: relative;
  width: 76px;
}

.page-size-selector select {
  width: 100%;
  height: 32px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #dedede;
  border-radius: 2px;
  background-color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../../assets/icons/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
