@mixin label-value-styles(
  $font-size,
  $font-weight,
  $line-height,
  $color: null
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  @if $color {
    color: $color;
  }
}

@mixin info-row-styles(
  $display,
  $grid-template-column,
  $align-items,
  $gap,
  $padding-left,
  $background-color,
  $font-weight,
  $color,
  $height
) {
  display: $display;
  grid-template-columns: $grid-template-column;
  align-items: $align-items;
  gap: $gap;
  padding-left: $padding-left;
  background-color: $background-color;
  color: $color;
  font-weight: $font-weight;
  min-height: $height;
}

@mixin items($display, $grid-template-column, $align-items, $gap) {
  display: $display;
  grid-template-columns: $grid-template-column;
  align-items: $align-items;
  gap: $gap;
}

// :host {
//   flex: 1;
//   overflow-y: auto;
// }

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .empty-depot-display {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 24px;

    p:nth-child(2) {
      font-size: 24px;
      color: #000;
    }
    p:nth-child(3) {
      font-size: 16px;
      color: #828282;
    }
  }
}

.system-detail {
  flex: 1;
  overflow-y: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ps-sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.info-section {
  padding: 0 16px;
  box-shadow: none !important;
}

.info-row-mdcs {
  @include info-row-styles(
    grid,
    1fr 1fr,
    center,
    30px,
    15px,
    #4a5964,
    600,
    white,
    40px
  );
}

.info-row-dagw {
  @include info-row-styles(
    grid,
    1fr 1fr,
    center,
    30px,
    15px,
    #4a5964,
    600,
    white,
    40px
  );
}

.info-label,
.info-value {
  padding: 8px;
  @include label-value-styles(16px, 600, 16px);
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 0 0 20px 50px !important;
  align-items: center;

  &__label {
    @include label-value-styles(16px, 400, 16px);
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009e73;
    padding: 5px 10px;
    min-width: 56px;
    width: fit-content;
  }
}

.active,
.warning,
.critical,
.degraded {
  @include label-value-styles(14px, 400, 16px, white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px 10px;
  min-width: 56px;
  width: fit-content;
}

.active {
  background-color: #009e73;
}

.warning {
  background-color: #ffb000;
}

.critical {
  background-color: #9f0f0f;
}

.degraded {
  background-color: #828282;
}

.panel-wrapper {
  border-radius: 4px !important;
  border: 1px solid #828282;
}

mat-expansion-panel {
  box-shadow: none !important;
  mat-panel-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

mat-accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

mat-expansion-panel-header {
  border-radius: 4px;
  position: relative;
  background-color: #f7f7f7 !important;
  margin: 8px 10px;
  padding: 14px;
  height: auto !important;
  min-height: 40px;
}

.items.sub-title {
  border-radius: 4px;
  position: relative;
  background-color: #f7f7f7;
  height: auto !important;
  min-height: 40px;
  padding: 14px 10px 14px 40px !important;
  margin: 0 10px 10px 10px;

  .items__label {
    font-weight: 600;
  }
}

.title-status {
  position: absolute;
  left: calc(50% + 50px - 20px);
}
