@use '../../../../../styles/breakpoints' as *;

@mixin header-text {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

@mixin table-data-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@mixin unset-table-bottom-border {
  border-bottom: unset !important;
}

$font-color-white: #ffffff;
$font-color-black: #000000;
$table-header-color: #4a5964;
$table-sub-header-color: #f3f7ff;
$table-border-color: #dedede;

.filter-wrapper {
  display: flex;
  width: auto;
  max-width: 100%;
  flex-wrap: wrap;

  app-filter {
    width: 560px;
  }

  .label {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}

.data-row {
  @include table-data-text();
  color: $font-color-black;
  height: 56px !important;
}

.header-row {
  background-color: $table-header-color;
  font-weight: 600;
  height: 40px !important;
  color: $font-color-white;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  @include unset-table-bottom-border;
  padding: 8px !important;
}

::ng-deep .mdc-checkbox {
  padding-right: unset !important;
}

.chkb-group {
  display: flex;
  gap: 10px 30px;
  align-items: center;
  justify-content: center;
  flex: 1;

  @include respond-to-max(lg) {
    justify-content: start;
    white-space: nowrap;
  }
}
