@if (depot) {
  <div class="status-items">
    @for (data of categoryItems; track $index) {
      <mat-card class="card-status" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ data.category }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for (item of data.items; track $index) {
            <div
              class="card-item"
              [ngStyle]="{
                'border-color':
                  item.status === 'success' ? '#009e73' : '#9F0F0F'
              }">
              <div
                [ngClass]="
                  item.status === 'success' ? 'status-check' : 'status-cross'
                "></div>
              <div class="status-text">
                <mat-card-title
                  [ngStyle]="{
                    color: item.status === 'success' ? '#009e73' : '#9F0F0F'
                  }"
                  >{{ item.name }}</mat-card-title
                >
                <div class="last-update">Last Update {{ item.lastUpdate }}</div>
              </div>
            </div>
          }
        </mat-card-content>
      </mat-card>
    }
  </div>
}
