@use '../../../../../styles/breakpoints' as *;

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .box {
    width: 24px;
    height: 13px;
    margin-right: 10px;
    border: 1px solid #000;

    &-inconsistent {
      background-color: #fff0cf;
    }

    &-active {
      background-color: #648fff;
    }
  }
}

.active {
  color: #648fff;
}

.inconsistent {
  background-color: #fff0cf;
}

.failed {
  background-color: #ffe1e1;
}

::ng-deep .mdc-floating-label {
  padding-bottom: 15px;
}

.data-row {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  height: 40px !important;
}

.data-row:not(:last-child) > td {
  border-bottom: unset;
}

.data-row:last-child > td {
  border-bottom: 1px solid #dedede;
}

.header-row {
  background-color: #4a5964;
  font-weight: 600;
  height: 56px !important;
  color: #ffffff;
}
