.dashboard-container {
  margin: 0 auto;
  width: 90%;
  padding: 20px;

  .row {
    display: flex;
    gap: 24px 20px;
  }

  h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }

  .flex-1 {
    flex-grow: 1;
  }

  .col-3 {
    width: 33.33%;
  }

  .col-4 {
    width: 25%;
  }

  .col-8 {
    width: 75%;
  }

  .bg-white {
    background-color: #fff;
  }

  .dropdown-wrapper {
    height: fit-content;
    border-radius: 4px;
  }

  .dashboard-content {
    align-items: flex-start;
  }

  .first-card {
    min-height: 120px;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0 !important;
      left: 0;
      background-color: #009e73;
    }
    &:nth-of-type(2) {
      &::before {
        background-color: #9f0f0f;
      }
    }
    &:last-of-type {
      &::before {
        background-color: #ffb000;
      }
    }

    .card-content {
      flex-grow: 1;
    }

    .card-icon {
      max-width: 90px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .card-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 16px;
      padding-right: 12px;

      h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
        color: #333;
        margin-bottom: 0;
      }
    }
  }

  .diagnostic-card {
    margin-top: 20px;
    color: #333;
    width: 100%;

    .diagnostic-wrapper {
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
    }

    .diagnostic-column {
      display: flex;
      flex-direction: column;
      max-width: 201px;
      align-items: center;
      gap: 10px;
      width: 201px;
      padding: 8px;
      border-radius: 4px;
    }

    .success {
      border: 2px solid #009e73;
    }

    .failed {
      border: 2px solid #9f0f0f;
    }

    .diagnostic-title {
      font-size: 14px;
      color: #000;
      text-align: center;
      padding-bottom: 6px;
    }

    .diagnostic-btn-group {
      display: flex;
      justify-content: center;
      gap: 12px;

      .diagnostic-btn {
        background-color: #009e73;

        .mdc-button__label {
          font-size: 14px !important;
          font-weight: 400 !important;
        }
      }
    }
  }

  .chart-card {
    margin-top: 20px;

    h2 {
      padding: 16px;
      margin-bottom: 0;
    }

    .chart-content {
      align-items: stretch;
    }

    .chart-visualize {
      display: flex;
      flex-direction: column;
    }

    .chart-wrapper {
      padding: 20px;
      margin-left: 16px;
      margin-right: -10px;
      margin-bottom: 20px;
      background-color: #f7f7f7;
      border-radius: 4px;
      flex-grow: 1;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-left: 10px;
      margin-right: 20px;
      padding-bottom: 20px;

      li {
        padding: 16px 12px;
        background-color: #f7f7f7;
        border-radius: 4px;
        color: #333;
        font-size: 14px;

        &:not(:first-child) {
          margin-top: 16px;
        }
      }
    }
  }

  .table-card {
    margin-top: 20px;
    padding: 20px 16px;

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;

      a {
        color: #0072b2;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .diagnostic-wrapper {
      padding: 16px;
    }

    .diagnostic-column {
      padding: 8px;
      border: 1px solid #ededed;
      border-radius: 3px;
    }

    .diagnostic-title {
      font-size: 14px;
      color: #000;
      text-align: center;
      padding-bottom: 6px;
    }

    .diagnostic-btn-group {
      display: flex;
      justify-content: center;
      gap: 12px;

      .diagnostic-btn {
        background-color: #009e73;

        .mdc-button__label {
          font-size: 14px !important;
          font-weight: 400 !important;
        }
      }
    }
  }

  .second-card {
    color: #fff;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &.event-card {
      background-color: #0072b2;
    }
    &.task-list-card {
      background-color: #009e73;
    }
    &.quick-link-card {
      background-color: #fff;
      color: #333;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    .mat-mdc-card-title {
      padding-bottom: 12px;
    }

    .second-content {
      padding: 0 12px;
      align-items: center;
      margin-top: 16px;
      cursor: pointer;
    }

    .second-text {
      padding-right: 12px;

      h2,
      h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 20px;
      }

      h3 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .second-action {
      justify-content: center;
      padding: 30px;

      a {
        text-decoration: underline;
        font-size: 12px;
        cursor: pointer;
        display: block;
      }
    }
  }
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border-bottom: unset !important;
  padding: 8px !important;
}

.header-row {
  background-color: #4a5964;
  font-weight: 600;
  height: 32px !important;
  color: #ffffff;
}
