.mat-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 15px;

  div:nth-child(1) {
    padding-top: 7px !important;
    margin: 5px;
  }

  .btn {
    float: right;
    width: 20%;
    color: white;
    height: 40px;
    background-color: #009e73;
  }
}

.mat-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 10px;
  width: 100%;

  .btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .btn {
      width: 140px;
      font-weight: bold;
    }
  }
}

.icon-delete {
  width: 18px;
  height: 18px;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 16px !important;
  color: #0072b2;

  .icon {
    width: 22px;
    height: 22px;
  }

  .text-btn {
    font-size: 15px;
    font-weight: 600;
  }
}

// Base Divider class
.divider {
  display: flex;

  &:before,
  &:after {
    content: '';
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 0 6px;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.razor {
  &:before,
  &:after {
    box-shadow: 0 0.5px 0 black;
  }
}

.local-primary {
  background-color: #0046ad;
  color: white;
}

.material-icons.md-18 {
  line-height: 4rem !important;
  width: 4rem !important;
  height: 4rem !important;
}

:host ::ng-deep {
  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10%;
  }

  .mat-column-day_type {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20%;
  }
}

// .mat-mdc-form-field.custom-input {
//   border: 1px solid #ccc !important;
//   border-radius: 4px !important;
// }

.time-picker {
  position: relative;
  z-index: 2;

  input {
    width: 100%;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 22px;
    height: 22px;
  }
}

::ng-deep .mat-mdc-select-arrow {
  display: none;
}

.mdc-dialog__content {
  overflow-x: hidden !important;
}

.status {
  padding: 4px 10px;
  border-radius: 16px;
  color: white;

  &.active {
    background-color: #009e73;
  }

  &.inactive {
    background-color: #ffb000;
    color: #000;
  }
}

.mat-mdc-dialog-content {
  overflow: hidden !important;
}

form {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
