<div class="info-table">
  <table class="stripped">
    <thead>
      <tr>
        <th>File ID</th>
        <th>Parameter Name</th>
        <th>Parameter Version</th>
        <th>Format Version</th>
        <th>Effective Date Time</th>
      </tr>
    </thead>

    <tbody *ngIf="dataSource; else noData">
      <tr>
        <td>{{ dataSource.fileId }}</td>
        <td>{{ dataSource.parameter_name }}</td>
        <td>{{ dataSource.parameter_version }}</td>
        <td>{{ dataSource.format_version }}</td>
        <td>
          {{ dataSource.effective_date_time | date: 'dd/MM/yyyy HH:mm' }}
        </td>
      </tr>
    </tbody>

    <ng-template #noData>
      <tbody>
        <tr>
          <td colspan="5" style="text-align: center; color: #000000">
            Choose Parameter Type to show info
          </td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
